<br>
<br>
<br>
<div class="container"><h3 style="color:white;">Sports Festa 2k18 </h3></div> 
<div class="gallery">
  <div class="img-w"><%= image_tag("sf0118.jpg")%></div>
  <div class="img-w"><%= image_tag("sf0218.jpg")%></div>
  <div class="img-w"><%= image_tag("sf0318.jpg")%></div>
  <div class="img-w"><%= image_tag("sf0418.jpg")%></div>
  <div class="img-w"><%= image_tag("sf0518.jpg")%></div>
  <div class="img-w"><%= image_tag("sf0618.jpg")%></div>
  <div class="img-w"><%= image_tag("sf0718.jpg")%></div>
  <div class="img-w"><%= image_tag("sf0818.jpg")%></div>
  <div class="img-w"><%= image_tag("sf0918.jpg")%></div>
</div>
<br>
<br>
<br>
