<!DOCTYPE html>
<html>
  <head>
    <title>  NCBA&E | ECC </title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Concert+One" rel="stylesheet"> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Arvo|Marck+Script|Open+Sans+Condensed:300|PT+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Knewave" rel="stylesheet">
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="assets/css/owl.theme.default.min.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Boogaloo|Concert+One" rel="stylesheet"> 

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<body>
  
<header class="navbar <%= content_for?(:navbar_style) ? yield(:navbar_style) : "navbar-inverse" %> navbar-fixed-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_url, class: "navbar-brand" , id: "logo"  do %>
        ECC-Forum
      <% end %>
    </div>

    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li><%= link_to "THREADS", forum_threads_path, id: "thread" %></li>
        <li><%= link_to "Gallery", gallery_images_path, id: "thread" %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li> <%= link_to "ACCOUNT", edit_user_registration_path, id: "thread" %> </li>
          <li><%= link_to "LOGOUT", destroy_user_session_path, method: :delete, id: "thread" %></li>
        <% else %>
          <li><%= link_to "SIGN UP", new_user_registration_path, id: "thread" %></li>
          <li><%= link_to "LOG IN", new_user_session_path, id: "thread" %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
<section>
  <div class="background2">
    <%= flash.notice %>
    <%= flash.alert %>
    <%= yield %>
  </div>
</section> 
 <footer>
    <div class="container">
      <div class="col-md-3" >
        <h3> <b>About us </b></h3>
        <h4>
          The National college Of Business Administration & Economics, Lahore got the charter form the Government Of Punjab in 2002, as a degree awarding institution by Higher Education Commission (HEC) of Pakistan.
        </h4>
        <ul>
          <br>
          <li> <h5> NCBA&E-ECC &#169; 2018  </h5> </li>
        </ul>
      </div>
      <div class="col-md-2">
       <br>
       <a id="footer-logo" target="_blank" href="http://www.ncbae.edu.pk/">
         <%= image_tag("logo-1img.png")%></a>

      </div>
      <div class="col-md-4" >
           <h3> <b> Contact Us </b></h3>
          <ul>
              <li><h4>Phone : 0423-6525804</h4></li>
              <li><h4>Phone : 0320-5555975</h4></li>
              <li><h4>E-mail : ncba.ecc@yahoo.com</h4></li>
              <li> Address: 
                      NCBA&E, ECC, Mian Aziz Garden, Main Canal Road, Khaira Pull, Batapur Lahore.  </li>
          </ul>
          
          <ul class="sm">
              <li><a target="_blank" href="https://www.facebook.com/NCBAE2/" ><img src="https://www.facebook.com/images/fb_icon_325x325.png" class="img-responsive"></a></li>
              <li><a href="#" ><img src="https://lh3.googleusercontent.com/00APBMVQh3yraN704gKCeM63KzeQ-zHUi5wK6E9TjRQ26McyqYBt-zy__4i8GXDAfeys=w300" class="img-responsive" ></a></li>
              <li><a href="#" ><img src="http://playbookathlete.com/wp-content/uploads/2016/10/twitter-logo-4.png" class="img-responsive"  ></a></li>
          </ul>
      </div> 
      <div class="col-md-3">
          <h3> <b>Our Location </b> </h3>
          <a target="_blank" href="https://www.google.com/maps/place/National+College+of+Business+Administration+%26+Economics/@31.5824274,74.4938062,14z/data=!4m5!3m4!1s0x39191200231748df:0x74f2fccdc07e91e2!8m2!3d31.5822554!4d74.5007801"> <%= image_tag("map1.png")%> </a> 
         
          <!-- <img src="images/map.png" alt="map" style = "height: 300px;"> -->
      </div>
  </div>
</footer>
</body>
</html>
